---
layout: page
title: "关于"
description: "关于一个程序猿的神话故事"
header-img: "img/post-bg-rwd.jpg"
---

<!-- Language Selector -->
<!-- <select class="sel-lang" onchange= "onLanChange(this.options[this.options.selectedIndex].value)">
    <option value="0" selected> 中文 Chinese </option>
    <option value="1"> 英文 English </option>
</select> -->

<!-- Chinese Version -->
<div class="zh post-container">
	<div class="aboutinfo">
	<div class="aboutinfo-figure">
		<img src="/img/about-BY-gentle.jpg" alt="wenfengSAT" />
	</div>
	<p class="aboutinfo-nickname animated fadeInLeftBig">wenfengSAT</p>
	<p class="aboutinfo-location animated fadeInLeftBig "><i class="fa fa-location-arrow"></i>&nbsp;广东 - 惠州</p>
	<p class="aboutinfo-introduceanimated fadeInRightBig">一枚90后程序猿，java开发工程师,兼Web前端.</p>
	<p style="text-align:center;">2016.07毕业，现在主要从事Java方向的开发，会一点前端技术。</p>
			<p>喜欢听安静的歌，不喜欢听太躁动的歌。</p>
			<p>喜欢晚上的时候跑步，放松一下神经。</p>
			<p>喜欢书法，但是写的不怎么好。</p>
	<hr />
   
	<fieldset class="layui-elem-field layui-field-title animated fadeInLeftBig">
		<div class="layui-field-box aboutinfo-abstract">
			<h3>WF Blog</h3>
			<p style="text-align:center;">本网站是一个javaWeb程序员的个人博客，记录一些工作当中遇到的问题、笔记，分享一些javaWeb开发的经验。</p>
		</div>
	</fieldset>
	</div>
</div>

<style type="text/css">
.aboutinfo {
	text-align: center;
	padding: 0 15px;
}

.aboutinfo-figure {
	display: inline-block;
	margin: 20px auto;
}

.aboutinfo-figure img {
	border-radius: 110px;
}

.aboutinfo-nickname {
	font-size: 32px;
	font-weight: bold;
	margin: 0 0 15px 0;
}

.aboutinfo-introduce {
	margin: 20px auto;
	font-size: 18px;
	width: 90%;
}

.aboutinfo-location {
	color: #808080;
	margin: 15px;
}

.aboutinfo-contact {
	margin: 15px;
}

.aboutinfo-contact>a {
	padding: 0 10px;
}

.aboutinfo-abstract {
	width: 90%;
	margin: 0 auto;
}

.aboutinfo-abstract>h1 {
	font-weight: bold;
	font-size: 16px;
	text-align: left;
	margin-top: 25px;
}

.aboutinfo-abstract>p {
	margin: 5px 0;
	font-size: 14px;
	text-align: left;
	text-indent: 2em;
}
</style>

<!-- English Version -->
<!-- <div class="en post-container">
    
</div> -->

<!-- Handle Language Change -->
<script type="text/javascript">
    // get nodes
    var $zh = document.querySelector(".zh");
    var $en = document.querySelector(".en");
    var $select = document.querySelector("select");

    // bind hashchange event
    window.addEventListener('hashchange', _render);

    // handle render
    function _render(){
        var _hash = window.location.hash;
        // en
        if(_hash == "#en"){
            $select.selectedIndex = 1;
            $en.style.display = "block";
            $zh.style.display = "none";
        // zh by default
        }else{
            // not trigger onChange, otherwise cause a loop call.
            $select.selectedIndex = 0;
            $zh.style.display = "block";
            $en.style.display = "none";
        }
    }

    // handle select change
    function onLanChange(index){
        if(index == 0){
            window.location.hash = "#zh"
        }else{
            window.location.hash = "#en"
        }
    }

    // init
    _render();
</script>


<!-- Gitalk 评论 start  -->
{% if site.gitalk.enable %}
<!-- Gitalk link  -->
<link rel="stylesheet" href="https://unpkg.com/gitalk/dist/gitalk.css">
<script src="https://unpkg.com/gitalk@latest/dist/gitalk.min.js"></script>

<div id="gitalk-container"></div>
    <script type="text/javascript">
    var gitalk = new Gitalk({
    clientID: '{{site.gitalk.clientID}}',
    clientSecret: '{{site.gitalk.clientSecret}}',
    repo: '{{site.gitalk.repo}}',
    owner: '{{site.gitalk.owner}}',
    admin: ['{{site.gitalk.admin}}'],
    distractionFreeMode: {{site.gitalk.distractionFreeMode}},
    id: 'about',
    });
    gitalk.render('gitalk-container');
</script>
{% endif %}
<!-- Gitalk end -->

 <!-- disqus 评论框 start  -->
{% if site.disqus.enable %}

<div class="comment">
    <div id="disqus_thread" class="disqus-thread">
    </div>
</div>
<!-- disqus 评论框 end -->

<!-- disqus 公共JS代码 start (一个网页只需插入一次) -->
<script type="text/javascript">
    /* * * CONFIGURATION VARIABLES * * */
    var disqus_shortname = "{{site.disqus.username}}";
    var disqus_identifier = "{{site.disqus.username}}/{{page.url}}";
    var disqus_url = "{{site.url}}{{page.url}}";

    (function() {
        var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
        dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
        (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
    })();
</script>
<!-- disqus 公共JS代码 end -->
{% endif %}

